<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nighlife App - Stermer</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <h1>What Happening Tonight?</h1>
    <p>Search Local Bars and Find Out Who's Going!</p>

    <form class="" action="/search" method="POST">
      <input type="text" name="search[term]" placeholder="Where are you at?">
      <input type="submit" value="Search">
    </form>

    {{{body}}}

  </body>
</html>
